@import 'https://fonts.googleapis.com/css?family=Oswald';

body {
  background: linear-gradient(to right, #ed213a, #93291e );
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #200122;
  font-size: 5vw;
  letter-spacing: 6px;
}

.keys {
  width: 499px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 6px -6px black;
  background-color: #200122;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
}

kbd {
  display: block;
  font-size: 4rem;
}

.playing {
  background-color: darken(#444, 10%);
  transform: scale(1.1);
  transition: all .2s;
}
